.login
{
    margin: 0 auto;
    margin-top: 20px;
    width: 360px;
}
.topfield
{
    margin-bottom:300px;
}
.login_button
{
    margin-top:400px;
}
.myforma
{
    padding: 50px 30px;
    background:rgb(249 249 249);
}
.company
{
    text-align: left;
    font-family: "Gill Sans", sans-serif;
}
